Package: authy
Version: 2.0.0
Maintainer: devon.stettler@tutanota.com
Architecture: all
Description: Authy snap converted to .deb based on AUR PKGBUILD
Depends: libnss3, libgtk-3-0, libxss1, libappindicator3-1
